<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>deleteitem</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>

<body style="margin:15px;padding:15px;line-height:30px;">

    <header style="background-color: rgb(255, 255, 118);">
        <a style="color: blue;" href="listitems.php">List items</a>
        {% if username %}
        <a style="color: blue;" href="logout.php">Logout</a>
        Hello, {{username|e}}
        {% else %}
        <a style="color: blue;" href="login.php">Login</a>
        {% endif %}
    </header>

    <h1>delete item</h1>
    {% if student %}
    <form method="post">
        <legend>delete student:</legend>
        <label>Do you want to delete record {{student.student_id|e}}?</label><br>
        <input type="hidden" id="ID" name="ID" value={{student.student_id|e}}>
        <input type="submit" value="Yes">
    </form>
    <form style="display: inline;" action="getitem.php">
        <input type="submit" value="No" />
        <input type="hidden" id="ID" name="ID" value={{student.student_id|e}}>
    </form>
    {% endif %}


    {% if error %}
    <h1 style="color:red;">{{error|e}}</h1>
    {% endif %}

</body>

</html>