<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>edititem</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>

<body style="margin:15px;padding:15px;line-height:30px;">

    <header style="background-color: rgb(255, 255, 118);">
        <a style="color: blue;" href="listitems.php">List items</a>
        {% if username %}
        <a style="color: blue;" href="logout.php">Logout</a>
        Hello, {{username|e}}
        {% else %}
        <a style="color: blue;" href="login.php">Login</a>
        {% endif %}
    </header>

    
    <h1>edit item</h1>

    <form method="post" autocomplete="on">
        <fieldset>
            <legend>Edit student:</legend>
            <label for="student_name">Student name:</label><br>
            <input type="text" id="student_name" name="student_name" value="{{old_params.student_name|e}}"><br>
            <label for="hometown_name">Hometown:</label><br>
            <select id="hometown_name" name="hometown_name">
                <option value="">not selected</option>
                {% for hometown in hometowns %}
                <option value="{{ hometown|e }}" {% if old_params.hometown_name==hometown %} selected {% endif %}>
                    {{ hometown|e }}</option>
                {% endfor %}
            </select><br>
            <label for="department_name">Department:</label><br>
            <select id="department_name" name="department_name">
                <option value="">not selected</option>
                {% for department in departments %}
                <option value="{{ department|e }}" {% if old_params.department_name==department %} selected {% endif %}>{{
                    department|e }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Submit">
            <input type="hidden" id="student_id" name="student_id" value={{old_params.student_id|e}}>
        </fieldset>
    </form>

    {% if error %}
    <h1 style="color:red;">{{error|e}}</h1>
    {% endif %}

</body>

</html>