<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</head>

<body style="margin:15px;padding:15px;line-height:30px;">

    <h1>login</h1>

    <form method="post" autocomplete="on">
        <fieldset>
            <legend>Login:</legend>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
        </fieldset>
    </form>

    {% if error %}
    <h1 style="color:red;">{{error|e}}</h1>
    {% endif %}


</body>

</html>